.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.defaultContextmenuArea {
  grid-row: 1;
  grid-column: 1;
  background-color: aqua;
}

.customContextmenuArea1 {
  grid-row: 1;
  grid-column: 2;
  background-color: sandybrown;
}

.customContextmenuArea2 {
  grid-row: 2;
  grid-column: 1;
  background-color: tomato;
}

.customContextmenuArea3 {
  grid-row: 2;
  grid-column: 2;
  background-color: powderblue;
}

.contextMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: fit-content;
  border-radius: 4px;
  background-color: white;
}

.optionsList {
  padding: 12px;
  min-width: 107px;
}

.optionListItem {
  padding: 4px;
  border-radius: 3px;
  list-style-type: none;
}

.optionListItem:hover {
  cursor: pointer;
  background-color: aqua;
}
